@import url('https://fonts.googleapis.com/css?family=Lobster');

html, body  {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    
}

body {
    background-image: url('../images/background.png');
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin: 5px auto;
    font-family: 'Lobster', cursive;
}

button {
    display: block;
    margin: 15px auto;
    cursor: pointer;
    background-color: antiquewhite;
    outline: none;
    padding: 10px 30px;
    border-radius: 15%;
    font-size: 15px;
    font-weight: 900;
    transition: all .3s;
    
}

button:hover {
    box-shadow: 1px 2px 0;
}

.mainBody {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

canvas {
    border: 1px solid black;
    cursor: pointer;
}

.selectorsOfPenWidth {
    height: 120px;
    width: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-direction: column;
}

.penStyleSelector {
    box-sizing: border-box;
    height: 40px;
    min-width: 50px;
    text-align: center;
    font-size: 25px;
    padding: auto;
    padding-top: 4px;
}

.penStyleSelector:hover {
    background: lightgray;
    cursor: pointer;
}

.penStyleSelector:nth-child(1){
    letter-spacing: -5px;
    border-bottom: 1px solid black;
}

.penStyleSelector:nth-child(2) {
    letter-spacing: -5px;
    padding-left: 5px;
}

.penStyleSelector:nth-child(3) {
    border-top: 1px solid black;
    padding-left: 8px;
}

.colorContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
    margin: auto;
}

.colorBox {
    border: 2px solid black;
    border-radius: 25%;
    min-width: 40px;
    height: 40px;
    margin: 25px 10px;
    cursor: pointer;
    transition: opacity .5s;
}

.colorBox:hover {
    opacity: 0.7;
} 

#eraser {
    padding: 8px 10px;
    margin: 25px 10px;
    font-size: 16px;
    border: 5px solid black;
    transition: all .5s;
    font-weight: bold;
    font-family: arial;
}

#eraser:hover {
    opacity: 0.3;
    cursor: pointer;
}

#black {
    background-color: #000;
}

#red {
    background-color: #ed1515;
}

#brown {
    background-color: #ca6e0c;
}

#yellow {
    background-color: #fff64d;
}

#blue {
    background-color: #4da3ff;
}

#green {
    background-color: #67ff4d;
}
